* {
  padding: 0px;
  margin: 0px;
}

.checktask {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  padding: 20px;
  color: black
}

h2 {
  text-align: center;
  padding: 20px;
}

.submitbutton {
  padding: 15px;
  margin: 10px;
  width: 150px;
  border-radius: 10px;
  border: none;
  background-color: rgb(238, 172, 107);
}

.submitbutton {
  color: rgb(0, 0, 0);
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.inputfield {
  text-align: center;
  background-color: rgb(110, 127, 236);
}

.inputtodo {
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 2px wheat;
  width: 300px;
  color: blue;
  font-size: medium;

}

h3 {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  overflow: hidden;


}

.deletetbutton {
  padding: 10px;
  margin: 7px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: red;
  color: white;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.completebutton {
  padding: 10px;
  margin: 7px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: rgb(121, 242, 186);
  color: rgb(0, 0, 0);
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.editbutton {
  padding: 10px;
  margin: 7px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.editinput{
    border: 1px solid gray;
  padding: 15px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 2px wheat;
  width: 300px;
  color: blue;
  font-size: medium;
}
.maindiv{
  margin-right: 20px;
}